In [39]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
  
%matplotlib inline 
import plotly_express as px
import matplotlib.pyplot as mp
from sklearn import preprocessing

In [128]:
df = pd.read_csv(r'BODO_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_c':'carbon_core_120'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'})
df = df.rename(columns={'core_carbo':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'ndvi_cumul':'NDVI'})
df = df.rename(columns={'MRVBF':'MRVBF'})
df = df.rename(columns={'core_numbe':'core_number'})
df_BODO = df.drop(['field_1'], axis = 1)
df_BODO = df_BODO[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_BODO.tail()

,property_name,CEA,carbon_core_120,actual_lat,actual_lon,core_number
384,Bonnie Doone Property,5,66.820412,-24.969094,150.893287,6888
385,Bonnie Doone Property,5,123.539006,-24.957521,150.877258,6890
386,Bonnie Doone Property,5,91.887217,-24.968734,150.894356,6891
387,Bonnie Doone Property,5,97.510458,-24.968586,150.876851,6892
388,Bonnie Doone Property,5,67.642772,-24.969282,150.893515,6894

In [129]:
df = pd.read_csv(r'COOL_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'})
df = df.rename(columns={'core_carbo':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'core_30_c':'carbon_core_30'})
df = df.rename(columns={'ndvi_cumul':'NDVI'})
df = df.rename(columns={'MRVBF':'MRVBF'})
df = df.rename(columns={'core_numbe':'core_number'})
df_COOL = df.drop(['field_1'], axis = 1)
df_COOL = df_COOL[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_COOL.tail()

    property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
302        Coolum    3       106.114320  -24.166497  149.772696         8397
303        Coolum    3       133.859357  -24.165274  149.770490         8398
304        Coolum    3       155.471416  -24.177762  149.782069         8399
305        Coolum    3       153.688069  -24.173737  149.773975         8400
306        Coolum    3        95.309744  -24.178003  149.773955         8403

In [133]:
df = pd.read_csv(r'CHEY_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_numbe':'core_number'})
df_CHEY = df[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_CHEY.tail()

# CHEY seems to have 30 & 120 mixed up - fixed files

,property_name,CEA,carbon_core_120,actual_lat,actual_lon,core_number
107,Cheyenne Property,5,76.531685,-30.826042,151.845590,10689
108,Cheyenne Property,5,89.246130,-30.826867,151.844433,10690
109,Cheyenne Property,5,64.958555,-30.830437,151.842731,10691
110,Cheyenne Property,5,51.076538,-30.817217,151.856639,10692
111,Cheyenne Property,5,65.136717,-30.826760,151.844553,10695

In [134]:
df = pd.read_csv(r'NATR_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'})
df = df.rename(columns={'core_carbo':'carbon_core_30'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'ndvi_cumul':'NDVI'})
df = df.rename(columns={'MRVBF':'MRVBF'})
df = df.rename(columns={'core_numbe':'core_number'})
df_NATR = df.drop(['field_1'], axis = 1)
df_NATR = df_NATR[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_NATR.tail()

    property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
311        Naturi    4        56.485101  -27.023837  149.549959        17344
312        Naturi    4        39.650918  -27.018651  149.544815        17353
313        Naturi    4        95.761328  -27.023752  149.539240        17354
314        Naturi    4        29.427506  -27.010867  149.537042        17357
315        Naturi    4        74.898185  -27.016624  149.541882        17363

In [148]:
df = pd.read_csv(r'LGHT_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'})
df = df.rename(columns={'core_carbo':'carbon_core_30'}) # different input for LGHT
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'ndvi_cumul':'NDVI'})
df = df.rename(columns={'MRVBF':'MRVBF'})
df = df.rename(columns={'core_numbe':'core_number'})
df_LGHT = df.drop(['field_1'], axis = 1)
df_LGHT = df_LGHT[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_LGHT.tail()

,property_name,CEA,carbon_core_120,actual_lat,actual_lon,core_number
413,Lighthouse aggregation,6,106.423663,-26.066202,149.292030,12737
414,Lighthouse aggregation,6,74.028537,-26.055870,149.295259,12740
415,Lighthouse aggregation,6,111.576179,-26.116782,149.274033,12787
416,Lighthouse aggregation,6,82.013633,-26.104653,149.274987,12793
417,Lighthouse aggregation,6,73.975097,-26.116177,149.261550,12794

In [149]:
df = pd.read_csv(r'MORO_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'})
df = df.rename(columns={'core_carbo':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'ndvi_cumul':'NDVI'})
df = df.rename(columns={'MRVBF':'MRVBF'})
df = df.rename(columns={'core_numbe':'core_number'})
df_MORO = df.drop(['field_1'], axis = 1)
df_MORO = df_MORO[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_MORO.tail()

    property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
124       Morocco    3        62.890943  -30.772458  150.410155          387
125       Morocco    3        44.041832  -30.772410  150.403892          388
126       Morocco    3        67.418635  -30.773353  150.409580          389
127       Morocco    3        37.320726  -30.772163  150.407180          391
128       Morocco    3       108.719943  -30.780203  150.409097          393

In [150]:
df = pd.read_csv(r'WOOD_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_numbe':'core_number'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'})
df = df.rename(columns={'core_carbo':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'ndvi_cum':'NDVI'})
df = df.rename(columns={'MRVBF':'MRVBF'})
df_WOOD = df.drop(['field_1','soil_templ', 'ESM_mass', 'lower_dept'], axis = 1)
df_WOOD = df_WOOD[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_WOOD.tail()

    property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
130      Woodburn    3        87.185479  -30.834550  151.620438         2781
131      Woodburn    3        88.052016  -30.839759  151.622400         2782
132      Woodburn    3        72.954569  -30.841696  151.621085         2783
133      Woodburn    3        74.962154  -30.841293  151.620575         2784
134      Woodburn    3        68.344450  -30.840445  151.619369         2787

In [151]:
df = pd.read_csv(r'STCK_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_120_carbon_mass':'carbon_core_120'}) 
df = df.rename(columns={'core_120_c':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'mrvbf':'MRVBF'})
df = df.rename(columns={'ndvi_pc1':'NDVI'})
df = df.rename(columns={'core_numbe':'core_number'})
df_STCK = df[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
df_STCK .tail()

      property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
355  Stuart's Creek    6        68.472374  -26.259024  148.489141        18422
356  Stuart's Creek    6        96.888538  -26.256141  148.492138        18423
357  Stuart's Creek    6        90.029538  -26.262458  148.477706        18424
358  Stuart's Creek    6        79.486480  -26.261124  148.492812        18425
359  Stuart's Creek    6       100.863861  -26.260301  148.485831        18426

In [152]:
df = pd.read_csv(r'MYST_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_carbo':'carbon_core_120'}) 
df = df.rename(columns={'core_120_c':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'core_numbe':'core_number'})
df_MYST = df[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
# df_MYST = df
df_MYST.tail()

    property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
231  Mystery Park    3        71.908883  -22.363690  149.439351        19141
232  Mystery Park    3        42.118026  -22.356522  149.443472        19144
233  Mystery Park    3        75.105615  -22.361119  149.446027        19149
234  Mystery Park    3        69.534489  -22.363648  149.446395        19150
235  Mystery Park    3        69.320215  -22.351622  149.454756        19154

In [153]:
df = pd.read_csv(r'EAST_3500_14000_ML_covariates_2208.csv')
df = df.rename(columns={'sampling_r': 'period'})
df = df.rename(columns={'cea_name':'CEA'})
df = df.rename(columns={'property_n':'property_name'})
df = df.rename(columns={'core_carbo':'carbon_core_120'}) 
df = df.rename(columns={'core_120_c':'carbon_core_120'}) # different input for NATR
df = df.rename(columns={'core_30_carbon_mass':'carbon_core_30'})
df = df.rename(columns={'mrvbf':'MRVBF'})
df = df.rename(columns={'ndvi_stabl':'NDVI'})
df = df.rename(columns={'core_numbe':'core_number'})
df_EAST = df[['property_name','CEA','carbon_core_120','actual_lat','actual_lon','core_number']]
# df_EAST = df.drop(['esm_layer', 'core_numbe' ], axis = 1)
df_EAST.tail()

   property_name  CEA  carbon_core_120  actual_lat  actual_lon  core_number
45    Eastbourne    1       148.063538  -30.732958  152.789219        15912
46    Eastbourne    1       190.614328  -30.755922  152.817616        15970
47    Eastbourne    1       312.596771  -30.754328  152.818254        16035
48    Eastbourne    1       342.384296  -30.740142  152.789963        15919
49    Eastbourne    1       191.400455  -30.740207  152.789945        15923

In [156]:
df_all = pd.concat([df_BODO, df_COOL, df_CHEY, df_NATR, df_LGHT, df_MORO, df_WOOD,  df_STCK, df_MYST, df_EAST])
df_all

,property_name,CEA,carbon_core_120,actual_lat,actual_lon,core_number
0,Bonnie Doone Property,1,83.495461,-24.945218,150.840926,5464
1,Bonnie Doone Property,1,66.072313,-24.922135,150.827802,5465
2,Bonnie Doone Property,1,99.682242,-24.923688,150.825073,5466
3,Bonnie Doone Property,1,41.952111,-24.934411,150.833870,5467
4,Bonnie Doone Property,1,55.243882,-24.921637,150.828181,5468
...,...,...,...,...,...,...
45,Eastbourne,1,148.063538,-30.732958,152.789219,15912
46,Eastbourne,1,190.614328,-30.755922,152.817616,15970
47,Eastbourne,1,312.596771,-30.754328,152.818254,16035
48,Eastbourne,1,342.384296,-30.740142,152.789963,15919
49,Eastbourne,1,191.400455,-30.740207,152.789945,15923

In [157]:
df_all.to_csv(r'10_properties_points.csv')